/.cask
/.mc-lists.el
/ac-comphist.dat
/elpa
/emacs-desktop
/emacs-desktop.lock
/eshell
/helm-adaptive-history
/history
/ido.last
/my-auto-complete
/quelpa
/recentf
/saved-places
/smex-items
/sql
/tramp
/url
